<!DOCTYPE HTML>
<!--
	Andrea Protti Website  (enable liveserver first )  [was the CV]
-->
<html>

	<head>
		<!-- <title>Video Example</title> -->
		<title>Art Gallery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
		<!-- <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	</head>


	<body class="is-preload">
 
		<!-- Wrapper -->
			<!-- <div id="wrapper">  -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<h1  style="font-family: 'Times New Roman', Times, serif">Art Gallery </h1>
					<!-- <a href="index.html" class="logo" style="font-family: 'Times New Roman', Times, serif"><br>Art Gallery <h2>Libri, giornalini e arte</h2> </a> -->
					<!-- <a class="logo" style="font-family: 'Times New Roman', Times, serif"> Art Gallery <h2>Libri, giornalini e arte</h2> </a> -->
					<p>Via Vittorio Veneto 31, Gabicce Mare, Italia ........   email:Andrea.Protti.001@gmail.com
				</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li lass="'active"><a href="/secondpage">Libri, fumetti e arte</a></li>
							<li><a href="/hello"> Catalogo Libri </a></li>
							<!-- <a href="/hello">Go to hellopage</a> -->
							
							
						</ul>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/andrea-protti-44789716" class="icon brands alt fa-linkedin"><span class="label">fa-linkedin</span></a></li>
							<li><a href="https://github.com/Prot78" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="https://www.researchgate.net/profile/Andrea-Protti" class="icon brands alt fa-researchgate"><span class="label">fa-researchgate</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
				<div id="main">

						<!-- Featured Post CV -->
					<article class="post featured">
						<header class="major">
							
							<h2>Art Gallery libri fumetti arte e altro....<br /></h2>
							<p >In questa sessione troverete tutto cio' che e in offerta nell'attivita' Art Gallery da libri a fumetti, a riviste a quadri e oggettistica
			
							  </p>
						</header>
						<a class="image main"><img src="static/book_store.jpg" alt="" /></a>
						<!--  <ul class="actions special">
							 <li><a href="https://github.com/Prot78/ClinicalVolumes-medical-imaging-software" class="button large">View Project</a></li> 
							 <li><a href="https://www.kaggle.com/datasets/prot78/clinicalvolumes" class="button large">Kaggle dataset</a></li>
						</ul> -->
					</article>
					

					<!-- Posts -->
					<section class="posts">

						<!-- Unet -->
						<article>
							<header>
								<h2><br /><br />LIBRI  									
							</header>
							<a href="https://github.com/Prot78/Deep-learning-for-glioblastoma-tumor-volume-segmentation-in-mouse" class="image fit"><img src="static/books.jpg" alt="" /></a>
							<p style="font-size: 14px">Deep Learning Unet technique was used to generate an automatic volume segmentation on a GBM model. The python script can be utilized in humans brain as well as in BGM models of animals.</p>
							<ul class="actions special">
								<li><a href="https://github.com/Prot78/Deep-learning-for-glioblastoma-tumor-volume-segmentation-in-mouse" class="button">Unet Project</a></li>
								<li><a href="https://github.com/Prot78/Detectron2" class="button">Detectron2 Project</a></li>
							</ul>
						</article>

						<!-- Cycle Gan -->
						<article>
							<header>
								
								<h2><br /><br /> FUMETTI   
								</a></h2>
							</header>
							<a class="image fit"><img src="static/Fumetti.jpg" alt="" /></a> 
							<p style="font-size: 14px">This project creates synthetic mirror images for MRI brain on a murine brain model. </p>
							<ul class="actions special">
								<li><a href="https://github.com/Prot78/CycleGAN" class="button">View Project</a></li>
							</ul>
						</article>

						<!-- High Res -->
						<article>
							<header>
								<h2><br /><br />QUADRI (di Valter Protti)  <!-- <h3>(di Valter Protti)</h3> -->								
							</header>
							<a class="image fit"><img src="static/_DSC6836_copia.jpg" alt="" /></a>
							<p style="font-size: 14px">Il catalogo dei quadri del pittore Valter Protti possono essere trovati a questo link: <a href="http://html5up.net">HTML5 UP</a></p>
							<!-- <p style="font-size: 14px">This project uses a Super Resolution GAN (SRGAN) to improve the resolution of medical and non-medical images.</p> -->
							<ul class="actions special">
								<li><a href="https://github.com/Prot78/Super_Resolution" class="button">View Project</a></li>
							</ul>
						</article>

						<!-- Per bambini -->
						<article>
							<header>
								<h2><br /><br />LIBRI PER BAMBINI  <!-- <h3>(di Valter Protti)</h3> -->								
							</header>
							<a class="image fit"><img src="static/Libri-per-bambini.png" alt="" /></a>
							<!-- <p style="font-size: 14px">This project uses a Super Resolution GAN (SRGAN) to improve the resolution of medical and non-medical images.</p> -->
							<ul class="actions special">
								<li><a href="https://github.com/Prot78/Super_Resolution" class="button">View Project</a></li>
							</ul>
						</article>

						<!-- Regression and Classification -->
						<article>
							<header>
								<h2><br /><br />OGGETTISTICA  </h2> <br>
							</header>
							<!-- <a class="image fit"><img src="static/ogettistica1.jpg" alt="" /></a> -->
							<img src="static/ogettistica1.jpg" alt="" width="400" height="300"/>
							<p style="font-size: 14px">This project creates synthetic mirror images for MRI brain on a murine brain model. </p>
							<ul class="actions special">
								<li><a href="https://github.com/Prot78/Regression_and_Classification_with_ML" class="button">View Project</a></li>
							</ul>
						</article>
					</section>

					<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="https://formsubmit.co/Andrea.Protti.001@gmail.com">
								<div class="fields">
									<div class="field">
										<label for="name">Il tuo name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">La tua email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Scrivici un messaggio</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section>
								<h3>Come ordinare merchandise</h3>
								<p>Se interessari all'acquisto, mandateci una email o compilate la form qui a sinistra</p>
							</section>
							<section class="alt">
								<h3>Address</h3>
								<p>Art Gallery <br />
									Via Vittorio Veneto ....</p>
							</section>
							<!-- <section>
								<h3>Phone</h3>
								<p><a href="#">(617) 000-0000</a></p>
							</section>  -->
							<section>
								<h3>Email</h3>
								<p><a href="#">Andrea.Protti.001@gmail.com</a></p>
							</section>
							<section>
								<h3></h3>
								<!-- <ul class="icons alt">
									<li><a href="https://www.linkedin.com/in/andrea-protti-44789716" class="icon brands alt fa-linkedin"><span class="label">fa-linkedin</span></a></li>
									<li><a href="https://github.com/Prot78" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="https://www.researchgate.net/profile/Andrea-Protti" class="icon brands alt fa-researchgate"><span class="label">fa-researchgate</span></a></li>
								</ul> -->
							</section>
						</section>
					</footer>



				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>
				</div>
			<div>
	</body>
</html>